#
[defaults]
ansible_user            = sdconrox
interpreter_python      = /usr/bin/env python3
inventory               = ./inventory
playbook_dir            = ./playbooks/
roles_path              = ./roles
log_path                = ./var/log/ansible.log
