apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: joplin
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://gitea.sdconrox.com/sdconrox/starbase.git
    targetRevision: HEAD
    path: gitops/apps/joplin
  destination:
    server: https://kubernetes.default.svc
    namespace: joplin
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
