apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mealie
  namespace: argocd
  annotations:
    # Upstream values.yaml: https://github.com/trueforge-org/truecharts/blob/master/charts/stable/mealie/values.yaml
    # Check latest version: helm show chart oci://oci.trueforge.org/truecharts/mealie
    # Confirmed working version: chart version 26.10.0, appVersion 3.3.1
    # Local values file: gitops/apps/mealie/values.yaml
    # To check latest: helm show chart oci://oci.trueforge.org/truecharts/mealie
spec:
  project: default
  sources:
    - repoURL: oci://oci.trueforge.org/truecharts
      chart: mealie
      targetRevision: 26.10.0
      helm:
        valueFiles:
          - $valuesRepo/gitops/apps/mealie/values.yaml
    - repoURL: https://gitea.sdconrox.com/sdconrox/starbase.git
      targetRevision: HEAD
      ref: valuesRepo
  destination:
    server: https://kubernetes.default.svc
    namespace: mealie
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
