apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-dns-secrets
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "14"
spec:
  project: default
  source:
    repoURL: https://gitea.sdconrox.com/sdconrox/starbase.git
    targetRevision: HEAD
    path: gitops/platform/external-dns
  destination:
    server: https://kubernetes.default.svc
    namespace: external-dns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
