apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nfs-csi-driver
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-81"
spec:
  project: default
  source:
    repoURL: https://gitea.sdconrox.com/sdconrox/starbase.git
    targetRevision: HEAD
    path: gitops/platform/nfs-csi
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
