apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "11"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system
  source:
    repoURL: https://kubernetes.default.svc
    # ^ ignore, Argo requires repoURL; we use your Git repo below via path
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb-config
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "11"
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system
  source:
    repoURL: https://gitea.sdconrox.com/sdconrox/starbase.git
    targetRevision: HEAD
    path: gitops/platform/metallb/config
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
