---
- name: Wipe k3s master node
  hosts: control_plane
  become: yes
  gather_facts: no

  tasks:
    - name: Stop k3s
      systemd:
        name: k3s
        state: stopped

    - name: Remove k3s data directory
      file:
        path: /var/lib/rancher/k3s
        state: absent

    - name: Remove k3s config
      file:
        path: /etc/rancher/k3s
        state: absent

    - name: Remove k3s binary
      file:
        path: /usr/local/bin/k3s
        state: absent

    - name: Remove k3s systemd service
      file:
        path: /etc/systemd/system/k3s.service
        state: absent

    - name: Reload systemd
      systemd:
        daemon_reload: true

    - name: Clean up any remaining k3s processes
      shell: pkill -9 k3s || true

    - name: Display completion message
      debug:
        msg: "Master node wiped. Workers will need to be reconfigured when you deploy a new master."
