#- name: Add Bitnami Helm repository
#  kubernetes.core.helm_repository:
#    name: bitnami
#    repo_url: https://charts.bitnami.com/bitnami
#
#- name: Deploy mysql
#  community.kubernetes.helm:
#    name: mysql
#    release_namespace: vault
#    create_namespace: yes
#    chart_ref: bitnami/mysql
#    state: present
#    values_files:
#      - /Users/sdconrox/workplace/com.sdconrox/starbase/roles/services/templates/mysql_values.yaml

#- name: Add Hashicorp Helm repository
#  kubernetes.core.helm_repository:
#    name: hashicorp
#    repo_url: https://helm.releases.hashicorp.com

#- name: Deploy vault
#  community.kubernetes.helm:
#    name: vault
#    release_namespace: vault
#    create_namespace: yes
#    chart_ref: hashicorp/vault
#    state: present
#    wait: yes
#    wait_timeout: 300s
#    values_files:
#      - /Users/sdconrox/workplace/com.sdconrox/starbase/roles/services/templates/vault_values.yaml
#
#- name: Add jetstack Helm repository
#  kubernetes.core.helm_repository:
#    name: jetstack
#    repo_url: https://charts.jetstack.io
#
#- name: Deploy cert-manager
#  community.kubernetes.helm:
#    name: cert-manager
#    release_namespace: cert-manager
#    create_namespace: yes
#    chart_ref: jetstack/cert-manager
#    chart_version: 1.5.3
#    state: present
#    wait: yes
#    wait_timeout: 300s
#    values_files:
#      - /Users/sdconrox/workplace/com.sdconrox/starbase/roles/services/templates/cert-manager_values.yaml

- name: Add k8s-at-home Helm repository
  kubernetes.core.helm_repository:
    name: k8s-at-home
    repo_url: https://k8s-at-home.com/charts/

- name: Deploy wikijs
  community.kubernetes.helm:
    name: wikijs
    release_namespace: wikijs
    create_namespace: yes
    chart_ref: k8s-at-home/wikijs
    state: present
    wait: yes
    wait_timeout: 300s
    values_files:
      - /Users/sdconrox/workplace/com.sdconrox/starbase/roles/services/templates/wikijs_values.yml

#- name: Deploy stash
#  community.kubernetes.helm:
#    name: stash
#    release_namespace: stash
#    create_namespace: yes
#    chart_ref: k8s-at-home/stash
#    state: present
#    wait: yes
#    wait_timeout: 300s
#    values_files:
#      - /Users/sdconrox/workplace/com.sdconrox/starbase/roles/services/templates/stash_values.yaml

#- name: Get Vault status
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-0
#    command: vault status -format=json
#  register: vault_status
#
#- name: Set Vault status fact
#  ansible.builtin.set_fact:
#    cluster_keys_parsed: "{{ vault_status.stdout | from_json }}"

#- name: Initialize Vault
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-0
#    command: vault operator init -key-shares=2 -key-threshold=2 -format=json
#  register: cluster_keys
#  retries: 5
#  delay: 10
#  until: cluster_keys.return_code is defined and cluster_keys.return_code != 0
#
#- name: Copy file with owner and permissions
#  ansible.builtin.copy:
#    content: "{{ cluster_keys }}"
#    dest: /Users/sdconrox/workplace/com.sdconrox/starbase/cluster_keys.json
#    owner: sdconrox
#    group: staff
#    mode: '0600'
#
#- name: Set fact from cluster_keys
#  ansible.builtin.set_fact:
#    cluster_keys_parsed: "{{ cluster_keys.stdout | from_json }}"
#
#- name: cluster_keys
#  debug:
#    var: cluster_keys
#
#- name: cluster_keys_parsed
#  debug:
#    var: cluster_keys_parsed
#
#- name: Unseal 0
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-0
#    command: vault operator unseal "{{ item }}"
#  loop: "{{ cluster_keys_parsed.unseal_keys_b64 }}"
#
#- name: Login
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-0
#    command: vault login "{{ cluster_keys_parsed.root_token }}"
#
#- name: List peers
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-0
#    command: vault operator raft list-peers
#
#- name: Unseal 1
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-1
#    command: vault operator unseal "{{ item }}"
#  loop: "{{ cluster_keys_parsed.unseal_keys_b64 }}"
#
#- name: Join vault-1
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-1
#    command: vault operator raft join http://vault-0.vault-internal:8200
#
#- name: Unseal 2
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-2
#    command: vault operator unseal "{{ item }}"
#  loop: "{{ cluster_keys_parsed.unseal_keys_b64 }}"
#
#- name: Join vault-2
#  kubernetes.core.k8s_exec:
#    namespace: vault
#    pod: vault-2
#    command: vault operator raft join http://vault-0.vault-internal:8200

#######################################

#http://vault-0.vault-internal:8200

#- name: Add jetstack Helm repository
#  kubernetes.core.helm_repository:
#    name: hashicorp
#    repo_url: https://charts.jetstack.io
#
#- name: Deploy kube-prometheus-stack
#  community.kubernetes.helm:
#    name: prom-stack
#    create_namespace: yes
#    release_namespace: monitoring
#    chart_ref: prometheus-community/kube-prometheus-stack
#    state: present
#    values_files:
#      - prom_stack_values.yaml